.gradient-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
    background-size: 1000px 100%;
    animation: bg 15s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes bg {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 2200px;
    }
}

.background-gradient-light {
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -100vh);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    background: radial-gradient(50% 50% at 50% 50%,#e7ecf6 0,rgba(255,255,255,0) 100%);
    transform: translate(-50vw,-100vh);
    z-index: -1;
}

.background-gradient {
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -100vh);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    background: radial-gradient(50% 50% at 50% 50%,#1e2738 0,rgba(255,255,255,0) 100%);
    transform: translate(-50vw,-100vh);
    z-index: -1;
}